<div class="container">

  <div class="row">
    <div class="col-md-9">
      <h1>Formulario compania</h1>
    </div>
    <div class="col-md-3 align-self-end">
      <h6 class="float-end text-danger">* datos obligatorios</h6>
    </div>
  </div>

  <div class="card">
    <div class="card-body px-5">
      <form id="formularioCompania">
        <div class="row gy-2">
          <legend>Datos de la compania</legend>
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.nombreCompania"
                required
              />
              <label>Nombre *</label>
            </div>
          </div>
        </div>
        <br />
        <div class="row gy-2">
          <legend>Datos de Vía</legend>
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.claseVia"
              />
              <label>Clase</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.nombreVia"
              />
              <label>Número</label>
            </div>
          </div>
        </div>
        <br />
        <div class="row gy-2">
          <legend>Otros datos</legend>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.codPostal"
              />
              <label>Cod. Postal</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.telefonoContratacion"
              />
              <label>Tel. Contratación</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.telefonoSiniestro"
              />
              <label>Tel. Siniestro</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <textarea
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="compania.nota"
              ></textarea>
              <label>Nota</label>
            </div>
          </div>
        </div>
      </form>
      <br />
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <button
            pButton 
            icon="pi pi-check" iconPos="right"
            label="Guardar"
            class="p-button-rounded p-button-success"
            (click)="enviarCompania()"
          >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
