<div class="container">
  <h1 class="text-center">Companias</h1>

  <div class="row">
    <p-table
      [value]="companias"
      selectionMode="single"
      [paginator]="true"
      [rows]="6"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="{first} a {last} de {totalRecords} Companias"
      [rowsPerPageOptions]="[3, 6, 10, 15]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>NOMBRE</th>
          <th>CLASE VIA</th>
          <th>NUMERO VIA</th>
          <th>CÓDIGO POSTAL</th>
          <th>TELEFONO CONTRATACIÓN</th>
          <th>TELEFONO SINIESTRO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-compania>
        <tr>
          <td>{{ compania.nombreCompania }}</td>
          <td>{{ compania.claseVia }}</td>
          <td>{{ compania.numeroVia }}</td>
          <td>{{ compania.codPostal }}</td>
          <td>{{ compania.telefonoContratacion }}</td>
          <td>{{ compania.telefonoSiniestro }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
