<div class="container">
  <p-toast></p-toast>
  <div class="row">
    <div class="col-md-9">
      <h1>Cliente</h1>
    </div>
    <div class="col-md-3 align-self-end" *ngIf="add || edit">
      <h6 class="float-end text-danger">* datos obligatorios</h6>
    </div>
    <div class="col-md-3" *ngIf="!add && !edit">
      <button
        pButton
        pRipple
        class="float-end p-button-rounded p-button-text p-button-plain p-button-sm"
        label="Agregar"
        icon="pi pi-plus"
        (click)="mostrarFormulario()"
      ></button>
    </div>
  </div>

  <div class="card" *ngIf="add || edit">
    <div class="card-body px-5">
      <form id="formularioCliente">
        <div class="row gy-1">
          <legend>Datos del cliente</legend>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.nombreCl"
                required
              />
              <label>Nombre *</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.apellido1"
                required
              />
              <label>Primer apellido *</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.apellido"
              />
              <label>Segundo apellido</label>
            </div>
          </div>
        </div>
        <br />
        <div class="row gy-1">
          <legend>Datos de Vía</legend>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.claseVia"
              />
              <label>Clase</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.nombreVia"
              />
              <label>Nombre</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.numeroVia"
              />
              <label>Número</label>
            </div>
          </div>
        </div>
        <br />
        <div class="row gy-1">
          <legend>Otros datos</legend>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.codPostal"
              />
              <label>Cod. Postal</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.ciudad"
              />
              <label>Ciudad</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.telefono"
                required
              />
              <label>Teléfono *</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <textarea
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="cliente.observacion"
              ></textarea>
              <label>Observaciones</label>
            </div>
          </div>
        </div>
      </form>
      <br />
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <button
            pButton
            icon="pi pi-check"
            iconPos="right"
            label="Guardar"
            class="p-button-rounded p-button-success"
            (click)="enviarCliente()"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <app-tabla-cliente *ngIf="!add && !edit"></app-tabla-cliente>
</div>
