<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-3 mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://cdn-icons-png.flaticon.com/512/145/145315.png"
        class="me-2"
        height="30"
        alt="nano"
      />
    </a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSemi"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSemi">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"
            ><i class="pi pi-home me-2"></i>Home</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/cliente"
            ><i class="pi pi-users me-2"></i>Clientes</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/compania"
            ><i class="pi pi-building me-2"></i>Companias</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/perito"
            ><i class="pi pi-flag-fill me-2"></i>Peritos</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/seguro"
            ><i class="pi pi-shield me-2"></i>Seguros</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/siniestro"
            ><i class="pi pi-exclamation-triangle me-2"></i>Siniestro</a
          >
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/companiaseguro"
            ><i class="pi pi-database me-2"></i>CS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
