<p-toast></p-toast>

<div class="container">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <i class="pi pi-database me-3" style="font-size: 1.8rem"></i>
      <h3 class="fw-light">Compania - Seguro</h3>
    </ng-template>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Agregar"
        icon="pi pi-plus"
        class="p-button-success mr-2 p-button-sm"
        (click)="crear()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="registros"
    styleClass="p-datatable-sm"
    responsiveLayout="scroll"
    [lazy]="true"
    (onLazyLoad)="loadRegistros($event)"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    currentPageReportTemplate="{first} a {last} de {totalRecords} Registros"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>No. PÓLIZA</th>
        <th>COMPANIA</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
      <tr>
        <td>{{ registro.id }}</td>
        <td>{{ registro.seguro.numeroPoliza }}</td>
        <td>{{ registro.compania.nombreCompania }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="eliminar(registro.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="formDialog"
  [style]="{ width: '550px', height: '430px' }"
  header="Detalle compania - seguro"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <form id="formulario">
      <div class="row gy-4">
        <div class="col-md-6">
          <label>Nombre compania *</label>
          <p-dropdown
            [options]="companias"
            [(ngModel)]="registro.compania"
            placeholder="Seleccione una compania"
            optionLabel="nombreCompania"
            [showClear]="true"
            [ngModelOptions]="{ standalone: true }"
            [required]="true"
          ></p-dropdown>
        </div>
        <div class="col-md-6">
          <label>No. Poliza *</label>
          <p-dropdown
            [options]="seguros"
            [(ngModel)]="registro.seguro"
            placeholder="Seleccione un seguro"
            optionLabel="numeroPoliza"
            [showClear]="true"
            [ngModelOptions]="{ standalone: true }"
            [required]="true"
          ></p-dropdown>
        </div>
        <div class="col-md-12">
            <div class="form-floating">
            <input
            type="number"
            pInputText
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="registro.id"
            required
          />
          <label>ID *</label>
            </div>
          </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-plain p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success p-button-text"
      (click)="guardar()"
    ></button> </ng-template
></p-dialog>

<p-confirmDialog
  #cd
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="header">
    <h3>¿Estás seguro?</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="No"
      icon="pi pi-times"
      class="p-button-plain p-button-text"
      (click)="cd.reject()"
    ></button>
    <button
      pButton
      pRipple
      label="Sí"
      icon="pi pi-trash"
      class="p-button-danger"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>