<div class="container">
  <h1 class="text-center">Clientes</h1>

  <div class="row">
    <p-table
      [value]="clientes"
      [paginator]="true"
      [rows]="6"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="{first} a {last} de {totalRecords} Clientes"
      [rowsPerPageOptions]="[3,6,10,15]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>DNI</th>
          <th>NOMBRE</th>
          <th>PRIMER APELLIDO</th>
          <th>SEGUNDO APELLIDO</th>
          <th>CÓDIGO POSTAL</th>
          <th>CIUDAD</th>
          <th>TELEFONO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{ cliente.dniCl }}</td>
          <td>{{ cliente.nombreCl }}</td>
          <td>{{ cliente.apellido1 }}</td>
          <td>{{ cliente.apellido2 }}</td>
          <td>{{ cliente.codPostal }}</td>
          <td>{{ cliente.ciudad }}</td>
          <td>{{ cliente.telefono }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
